.section {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 5px;
    position: relative;
    max-width: 500px;
    min-height: 450px;
}

.row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.cell {
    background-color: rgba(255, 255, 255, 0.91);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
}

.ball {
    width: 50%;
    height: 50%;
    background-color: rgba(200, 45, 45, 0);
    border-radius: 50%;
}

.user .ball {
    background-color: #45f44ec8;
}

.user.win .ball {
    background-color: #06f412;
    z-index: 100;
}

.computer .ball {
    background-color: #4b5ff4;
}

.computer.win .ball {
    background-color: #0722f4;
    z-index: 100;
}

.scorepanel {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 5px- -2pxpx 5pxpx;
    display: flex;
    flex-wrap: nowrap;
    bottom: -62px;
    max-width: %;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.playBtn {
    background-color: #58cf36;
    padding: 5px;
    color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0);
    min-width: 100px;
    margin-left: auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: all 400 ms;
}

.overlay.show {
    display: block;
    background-color: rgba(90, 82, 82, 0.75);
}

.greeting {
    color: #d6d6d6;
    font-size: 45px;
    margin-top: 30px;
}

.playBtn:hover {
    background-color: rgba(0, 0, 0, 0.44);
    border: 1px solid #000000;
    cursor: pointer;
}

.winText {
    margin: 0px;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 15px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.47);
}

.separator {
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.24);
}

.cell:hover {
    border: 1px solid rgba(0, 0, 0, 0.27);
}

.info {
    margin-left: 10px;
    padding: 8px;
    background-color: #58cf36;
    color: #fcfcfc;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
}

.info:hover {
    background-color: rgba(88, 207, 54, 0.4);
}

.para {
    position: absolute;
    font-size: 25px;
    background-color: #bcbcbc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 0%;
    transition: all 200ms;
    flex-direction: column;
    overflow: hidden;
}

.para.show {
    height: 105%;
    padding: 30px;
}

.tryBtn {
    padding: 10px;
    border-width: 1px;
    border-style: dashed;
    cursor: pointer;
}

.tryBtn:hover {
    background-color: #58cf36;
}


